.background-assignment {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border: 1px solid #DDDBDA;
    border-radius: 5px;
}
.label-style{
    padding-top: 3px;
    font-family: Roboto;
    font-size: large;
    color: #2D3D53;
    text-align: center;
}